* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --deep-dark: rgb(26, 26, 26);
  --light-dark: rgb(79, 82, 92);
  --light-blue: rgb(0, 132, 255);
  --dark-blue: rgb(2, 84, 161);
  --light: rgb(245, 245, 245);
}

body {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: var(--light);
}

.todo {
  width: 80rem;
  text-align: center;
  background: #fff;
  box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  border-radius: 5px;
}
.todo__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--light);
  text-transform: uppercase;
}
.todo__header {
  padding: 4rem;
  border-radius: 5px 5px 0 0;
  background-image: linear-gradient(340deg, #045de9 0%, #09c6f9 100%);
}
.todo__input {
  width: 80%;
  padding: 1rem 2rem;
  margin-right: 2rem;
  border: none;
  border-radius: 5px;
  color: var(--light-dark);
  background-color: var(--light);
}
.todo__add-btn {
  padding: 1rem 2.2rem;
  border: none;
  border-radius: 5px;
  color: var(--deep-blue);
  background-color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.todo__add-btn:hover {
  color: #fff;
  background-color: var(--light-dark);
}
.todo__alert-info {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: var(--dark-blue);
}
.todo__body {
  padding: 2rem 0;
}
.todo__body-header {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.todo__body li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
  padding-left: 2rem;
  -moz-text-align-last: left;
       text-align-last: left;
  list-style: none;
  background-color: var(--light);
}
.todo__item {
  display: inline-block;
}
.todo__item .complete {
  color: var(--light-blue);
}
.todo__item .edit {
  font-weight: bold;
  color: rgb(15, 179, 69);
}
.todo__item .delete {
  color: tomato;
}
.todo .completed {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--light-dark);
  text-decoration: line-through;
}
.todo__item button {
  padding: 15px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}
.todo__item button:hover {
  background-color: #ddd;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80rem;
  color: var(--light);
  background-color: var(--light-dark);
  border-radius: 5px;
}
.popup__title {
  padding: 2rem;
}
.popup__info {
  margin-bottom: 2rem;
  color: var(--light);
}
.popup__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 1rem;
}
.popup__input {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  color: var(--light-dark);
  background-color: var(--light);
}
.popup__btn {
  display: inline-block;
  width: 30%;
  padding: 1rem 2.2rem;
  margin: 2rem;
  border: none;
  border-radius: 5px;
  color: var(--deep-dark);
  background-color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.popup__btn:hover {
  color: #fff;
  background-color: var(--light-blue);
}/*# sourceMappingURL=main.css.map */